<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns = "http://www.springframework.org/schema/beans"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
<!--<bean id = "vi" class = "com.cg.springioc.Vi"></bean> !-->
<!--<bean id = "jio" class = "com.cg.springioc.Jio"></bean>  !-->
<bean id = "sim" class = "com.cg.springioc.Vi"></bean>
</beans>